html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(64, 64, 64);
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  border-color: rgb(53, 53, 53);
  border-style: solid;
  border-width: 1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

desc {
  font-family: monospace;
  font-size: 9px;
  color: rgb(0, 0, 0);
}

cont {
  padding-top: 10px;
  padding-left: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 756px;
  background-color: rgb(218, 255, 82);
}

hr {
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px dotted #000000;
  width: 290px;
  height: 1px;
}

identifier {
  font-family: sans-serif;
  font-size: 7px;
  color: rgb(0, 0, 0);
}

